/*-- scss:defaults --*/

$theme-text-color: white;

/*-- scss:rules --*/

.nav-tabs {
  background-color: white
}

.bslib-navs-card-title {
  background-color: white
}

.card-header {
  background-color: $brand-navy; 
  color: white;              
}
